.Home {
    text-align: center;
  }
  
  
  .spinner {
    height: 80px;
    margin: auto;
  }
  
  .Home-intro {
    font-size: large;
  }
  
  /* new css for movie component */
  
  * {
    box-sizing: border-box;
  }
  
  .movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .homepage-header h2 {
    margin: 0;
  }
  
  .add-movies {
    text-align: center;
  }
  
  .add-movies button {
    font-size: 16px;
    padding: 8px;
    margin: 0 10px 30px 10px;
  }
  .sorts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
   
  }
  
  .movie {
    padding: 5px 25px 10px 25px;
    max-width: 20%;
  }
  
  .errorMessage {
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
  }
  
  
  .search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  
  input[type="submit"] {
    padding: 5px;
    background-color: transparent;
    color: rgb(161, 15, 15);
    border: 1px solid red;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  
  input[type="submit"]:hover {
    background-color:rgb(161, 15, 15);;
    color: antiquewhite;
  }
  
  
  .search > input[type="text"]{
    width: 40%;
    min-width: 170px;
  }
  
  @media screen and (min-width: 694px) and (max-width: 915px) {
    .movie {
      max-width: 30%;
    }
  }
  
  @media screen and (min-width: 652px) and (max-width: 693px) {
    .movie {
      max-width: 50%;
    }
  }
  
  
  @media screen and (max-width: 651px) {
    .movie {
      max-width: 100%;
      margin: auto;
    }
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #445565;
  
    overflow-y: scroll;
  }
  
  .popup .content {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;
  
    color: #FFF;
  }
  
  .popup .content h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .popup .content h2 span {
    font-weight: 300;
    font-size: 20px;
  }
  
  .popup .content .rating {
    margin-bottom: 30px;
  }
  
  .popup .content .plot {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 30px;
  }
  
  .popup .content .plot img {
    flex: 1 1 50%;
    max-width: 300px;
    padding: 0px 15px;
  }
  
  .popup .content .plot p {
    flex: 1 1 50%;
    padding: 15px;
  }
  
  .popup .content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
  
    background: #4484C4;
    color: #FFF;
    border-radius: 8px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
  
    transition: 0.4s ease-out;
  }
  
  .popup .content .close:hover {
    background: #223343;
  }